[user]
email = my@email.com
password = mypassword

[car]
vin = 123ABC

[url]
login = https://emea.bff.cariad.digital/user-login/v1
identity = https://identity.vwgroup.io
api = https://emea.bff.cariad.digital/vehicle/v1

[settings]
token_file = tokens.json
vehicles_file = output/vehicles_%%Y%%m%%d_%%H%%M%%S.json
vehicle_status_file = output/vehicle_status_%%Y%%m%%d_%%H%%M%%S.json
